################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PocWpfTaskLib/obj
/PocWpfTaskLib/bin/Debug
/PocWpfTaskLib/.vs/PocWpfTaskLib
